body{

    text-align: center;
}

input[type="text"]{

    border-radius: 4px;
    border: 2px solid grey;
    height: 2em;
    width: 20em;
}

input[type="submit"]{

    margin-top: 16px;
    border-radius: 4px;
    border: 2px solid grey;
    height: 2em;
    width: 18em;
}