*{

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

form{

    position: relative;
    margin-left: 45%;
    width: 17em;
    height: 17em;
}

img{

    margin-top: 50px;
    margin-left: 44%;
}

input[type="text"],input[type="password"]{

    border-radius: 4px;
    border: 2px solid grey;
    height: 2em;
    width: 20em;
}

input[type="submit"]{

    border-radius: 3px;
    border: 2px solid grey;
    padding: 6px 35px;
    float: right;
    display: inline-block;
    right: 0;
}

::placeholder{

    color: lightgrey;
    padding-left: 3px;
}

p{
    margin-top: 20px;
    margin-bottom: 10px;
}

input[type="submit"]{

    margin-top: 8px;
}

a{
    display: inline-block;
    margin-top: 10px;
}