header{

    background-color: lightgreen;
    text-align: left;
    height: 150px;

    img{

        width: 150px;
    }
    h1{

        font-family: $fontHeader;
        position: absolute;
        display: inline-block;
        padding-top: 40px;
        letter-spacing: 1px;
           
    }
}